@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{

    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    overflow: hidden;
    color: $clrFont;

}

#app{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
        
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    border: 0;
    font-size: 24px;
    color: $clrFont;

    background: $blue;

    cursor: pointer;

    &:focus{

        outline: 0;

    }
    
}