.calculator {
  width: 380px;
  margin: 0 auto;

  .head-calculator{

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 2rem;

    .top-head{

        padding-bottom: 2rem;
        text-align: right;

        .process-calculator{

            font-size: 20px;

        }

    }

    .down-head{

        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 50px;
        font-weight: 500;

        .display{

            overflow-wrap: break-word;
            word-wrap: break-word;
            max-width: 315px;
            text-align: right;
            

        }

    }

  }

  .body-calculator{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-rows: 5rem;
    grid-gap: 15px;
    margin: 2rem auto;
        
        .zero{
        
        grid-column: 1 / 3;
        
        }
        
        .clear{
        
            grid-column: 1 / 4;
            text-transform: uppercase;

            width: 100%;
            border-radius: 50px;
            letter-spacing: 7px;
            font-size: 26px;
        
        }
        
        .operator {
        
            background: $cream;
        
        }

    }

}
