<template>
  <div class="calculator">

    <div class="head-calculator">

      <div class="top-head">

        <div class="process-calculator">

          {{ history }}

        </div>

      </div>

      <div class="down-head">

        <div class="operator-result"> 
            <template v-if="equal === true" >
            = 
            </template>
          </div>

        <div class="display"> {{ current || '0' }} </div>

      </div>

    </div>

    <div class="body-calculator">

      <div class="btn clear" @click="clear">clear</div>
      <Operator value="x" action="multiply" @operate="operate"></Operator>


      <Operand value="1"></Operand>
      <Operand value="2"></Operand>
      <Operand value="3"></Operand>
      <Operator value="+" action="add" @operate="operate"></Operator>

      <Operand value="4"></Operand>
      <Operand value="5"></Operand>
      <Operand value="6"></Operand>
      <Operator value="-" action="substract" @operate="operate"></Operator>

      <Operand value="7"></Operand>
      <Operand value="8"></Operand>
      <Operand value="9"></Operand>
      <Operator value="/" action="divide" @operate="operate"></Operator>


      <Operator value="+/-" action="sign" @operate="operate"></Operator>
      <Operand value="0"></Operand>
      <Operator value="." action="dot" @operate="operate"></Operator>
      <button class="btn operator" @click="calculate">=</button>

    </div>
  </div>
</template>

<script>
  import Operator from './Operator'
  import Operand from './Operand'
  import { mapState, mapActions } from 'vuex'

  export default {
    components: {

      Operator,
      Operand

    },
    computed: mapState([
      'current',
      'history',
      'equal'
    ]),
    methods: {
      ...mapActions([
        'clear',
        // 'calculate',
      ]),
      operate(action) {
        this.$store.dispatch(action)
      },
      calculate(){
        this.$store.dispatch('calculate')

      }
    }

  }

</script>
