<template>
    <button class="btn" @click="appendNumber(value)">{{ value }}</button>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name: 'Operand',
    props: [
        'value'
    ],
    methods: mapActions([
        'appendNumber'
    ])
}
</script>