<template>
    <button class="btn operator" type="primary" @click="clicked">{{ value }}</button>
</template>

<script>
    export default {
        name: 'Operator',
        props: ['value', 'action'],
        methods: {
            clicked() {
                this.$emit('operate', this.action)
            }
        }
    } 
</script>