<template>
  <div id="app">
    <Calculator />
  </div>
</template>

<script>
  import Calculator from './components/Calculator.vue'

  export default {
    name: 'App',
    components: {
      Calculator
    }
  }

</script>
